/*
 *
 * @package Stripay
 *
 */

body {
	background-color:#e2ae69;
}
h1.entry-title a {	
	color:#8b2902;
}
h1.entry-title a:hover {
	color:#d64005;	
}
a {
	color: #d64005;
}
a:hover,
a:focus,
a:active{
	color: #621d02;
}
#masthead {
	background:#464646 url(../images/stripes-red.gif) top left no-repeat;
	border-bottom:2px solid #bf043d;		
}
h1.site-title a {
	color:#FFF;
}
h1.site-title a:hover {
	color:#d67d05;
}
h2.site-description {
	color:#FFF;
}
#masthead img {
	border-top:2px solid #bf043d;
}
#access a {
	color: #FFF;
}
#access ul ul {
	background:#464646;
}
#access ul ul a {
	background: #464646;
	border-bottom: 1px solid #FFF;
	color:#d67d05;
}
#access li:hover > a,
#access ul ul :hover > a,
#access a:focus {
	background: #FFF;
}
#access li:hover > a,
#access a:focus {
	background: #464646; 
	color:#d67d05;
}
#access .current-menu-item > a,
#access .current-menu-ancestor > a,
#access .current_page_item > a,
#access .current_page_ancestor > a {
	color:#d67d05;
}
#secondary ul li a {
	color:#404040;
}
#secondary ul li a:hover {
	color:#d64005;
}
#secondary .widget-title {
	border-left: 30px solid #8b2902;
	color:#8b2902;
}
.edit-link a {
	color:#FFF;
	background:#8b2902;
}
.edit-link a:hover {
	background:#d67d05;
}
.entry-meta {
	border-bottom:1px solid #8b2902;
}
footer.entry-meta {
	border-top:1px solid #8b2902;
}
.site-footer {
	border-top:2px solid #bf043d;
}
