/* $Id: wsodFinancialToolsModule.css 67564 2011-05-17 15:59:29Z vishal $
/css/0.1/screen/common/modules/wsodFinancialToolsModule.css 
(c)2006 - 2011 The New York Times Company */
  
#wsodMarketsNavigation {
  font-family: arial,helvetica,sans-serif;  
}

#wsodMarketsNavigation h3 {
  margin-bottom: 6px;
  font-size: 1.4em; /* 14px */
}

div#wsod-nav-container td {
  cursor: pointer;
  width: 56px;
  border-right: solid 1px #cecece;
  vertical-align: center;
  padding-left: 32px;
}

div#wsod-nav-container td.tools {
  width: 53px;
  padding-left: 25px;
  background: url(http://markets.on.nytimes.com/research/images/icons/Icon_AnalysisTools.gif) no-repeat left center;
}

div#wsod-nav-container td.screener {
  background: url(http://markets.on.nytimes.com/research/images/icons/Icon_Screener.gif) no-repeat 7px center;
}

div#wsod-nav-container td.portfolio {
  background: url(http://markets.on.nytimes.com/research/images/icons/Icon_Portfolio.gif) no-repeat 7px center;
}

div#wsod-nav-container td.alerts {
  border: none;
  background: url(http://markets.on.nytimes.com/research/images/icons/Icon_Alerts.gif) no-repeat 7px center;
}

div#wsod-nav-container td a {
  color: #004276;
  text-decoration: none;
  font-weight: bold;
  font-size: 11px;
}

.wideAd #wsodMarketsNavigation {
  margin-left: 7px;
}

.wideAd #wsodMarketsNavigation #wsod-nav-container td  { 
  background-position: 16px center;
  line-height: 2.0em; /* 20px */
  padding-left: 41px;
  width: 66px;
}

.wideAd #wsodMarketsNavigation #wsod-nav-container td.tools {
  background-position: 17px center;
  padding-left: 42px;
  width: 96px;
}

.wideAd #wsod-nav-container td.portfolio {
  width: 62px;
}