/*Shortcode Button variations Frontend*/
.shortcode_prev{
font-family:Arial,Helevtica,Verdana,san-serif;
}

#top #wrap_all .avia-button{
color:#fff;
background-image: url("../images/icons/bg-button.png");
background-repeat: repeat-x;
background-position: 0 0;
padding:0 10px;
font-size: 12px;
text-decoration: none;
display:inline-block;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
border-style: solid;
border-width: 1px;
margin:3px 0;
line-height: 28px;
border-color: #e1e1e1;
background-color: #f8f8f8;
position: relative;
font-weight:bold;
}

#top #wrap_all .avia-button:hover{
background-position: 0 -4px;
opacity:0.8;
color:#fff;
text-decoration: none;
}

#top #wrap_all .avia-button.dark , #top #wrap_all .avia-button.dark:hover{
color:#444;
}



#top #wrap_all .avia-button.black{background-color: #222; 	border-color: #222; text-shadow: 0 -1px 0 rgba(0, 0, 0, 1); color: #fff; }
#top #wrap_all .avia-button.red{background-color: #B02B2C; 	border-color: #B02B2C; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2); color: #5d1a1b; }
#top #wrap_all .avia-button.orange{background-color: #edae44; 	border-color: #edae44; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); color: #745521; }
#top #wrap_all .avia-button.green{background-color: #83a846; 	border-color: #83a846; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); color: #415324; }
#top #wrap_all .avia-button.blue{background-color: #7bb0e7; 	border-color: #7bb0e7; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); color: #3f5871; }
#top #wrap_all .avia-button.aqua{background-color: #4ecac2; 	border-color: #4ecac2; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); color: #286460; }
#top #wrap_all .avia-button.teal{background-color: #5f8789; 	border-color: #5f8789; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); color: #314445; }
#top #wrap_all .avia-button.purple{background-color: #745f7e; 	border-color: #745f7e; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); color: #3c3240; }
#top #wrap_all .avia-button.pink{background-color: #d65799;	border-color: #d65799; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); color: #692b4b; }
#top #wrap_all .avia-button.silver{background-color: #d7d7d7; 	border-color: #d7d7d7; text-shadow: 0 1px 0 rgba(255, 255, 255, 1); color: #444; }
#top #wrap_all .avia-button.grey{background-color: #555; 	border-color: #555; text-shadow: 0 1px 0 rgba(0, 0, 0, 1); color: #fff; }

#top #wrap_all .avia-button.small{
padding:0 4px 0px 4px;
font-size: 10px;
line-height: 22px;
}

#top #wrap_all .avia-button.large{
padding:0 10px 0px 10px;
font-size: 13px;
line-height: 33px;
}

#top #wrap_all .avia-button.xl{
padding:0 16px;
font-size: 14px;
line-height: 42px;
}

#top #wrap_all .avia-button span{
position: relative;
}

#top #wrap_all .avia-button .avia-info{ 	background: transparent url("../images/icons/info.png") no-repeat center left; 		padding: 2px 0 2px 22px; left:-2px;}
#top #wrap_all .avia-button .avia-alert{	background: transparent url("../images/icons/alert.png") no-repeat center left; 	padding: 2px 0 2px 22px; left:-2px;}
#top #wrap_all .avia-button .avia-tick{	background: transparent url("../images/icons/tick.png") no-repeat center left; 		padding: 2px 0 2px 22px; left:-2px;}
#top #wrap_all .avia-button .avia-download{background: transparent url("../images/icons/download.png") no-repeat center left; 	padding: 2px 0 2px 22px; left:-2px;}
#top #wrap_all .avia-button .avia-note{	background: transparent url("../images/icons/note.png") no-repeat center left; 		padding: 2px 0 2px 22px; left:-2px;}
#top #wrap_all .avia-button .avia-error{	background: transparent url("../images/icons/error.png") no-repeat center left; 	padding: 2px 0 2px 22px; left:-2px;}
#top #wrap_all .avia-button .avia-help{	background: transparent url("../images/icons/help.png") no-repeat center left; 		padding: 2px 0 2px 22px; left:-2px;}




/*Inline Links with icon*/

#top #wrap_all .avia-ilink a{
text-decoration :none;
padding: 2px 0 2px 22px;
display: inline-block;
}


#top #wrap_all .avia-ilink .info{ 	background: transparent url("../images/icons/info.png") no-repeat center left; 		}
#top #wrap_all .avia-ilink .alert{	background: transparent url("../images/icons/alert.png") no-repeat center left; 	}
#top #wrap_all .avia-ilink .tick{	background: transparent url("../images/icons/tick.png") no-repeat center left; 		}
#top #wrap_all .avia-ilink .download{background: transparent url("../images/icons/download.png") no-repeat center left; 	}
#top #wrap_all .avia-ilink .note{	background: transparent url("../images/icons/note.png") no-repeat center left; 		}
#top #wrap_all .avia-ilink .error{	background: transparent url("../images/icons/error.png") no-repeat center left; 	}
#top #wrap_all .avia-ilink .help{	background: transparent url("../images/icons/help.png") no-repeat center left; 		}


/*quotes*/

.pullquote{
border:none;
background: none;
padding:0;
}


.pullquote_right {
float:right;
margin:1% 0 1% 14%;
width:40%;
clear:none;
}

.pullquote_right.pullquote_boxed{
margin:1% 0 1% 4%;
}

.pullquote_left {
float:left;
margin:1% 4% 1% 0;
width:40%;
clear:none;
}

.pullquote_boxed{
padding:10px 10px 10px 10px;
border:1px solid;
}

.pullquote_boxed:before{
content: "";
}

.pullquote_left .inner_quote{
padding:0 0 0 40px;
}

#top .pullquote_boxed .inner_quote{
padding:0;
width:auto;
left:auto;
margin:0;
}

.sidebar_right .pullquote_left:before{
left:-78px;
}

.sidebar_left .pullquote_left:before{
left:-7px;
}

.sidebar_right .template-blog .entry-content .pullquote_left .inner_quote {
width: 110%;
position: relative;
left: -60px;
margin-left: -5%;
}

.sidebar_left .template-blog .entry-content .pullquote_right .inner_quote {
width: 130%;
position: relative;
left: 60px;
margin-left: -28%;
}


/*preview modification only*/
.shortcode_prev blockquote{
font-size: 14px;
}

.shortcode_prev .pullquote_boxed{
background-position:10px 28px;
}

.shortcode_prev .pullquote_left, .shortcode_prev .pullquote_right{
width:60%;
}


/*info boxes*/

div div .avia-box{
clear: both;
padding:15px;
background: #f8f8f8;
border-top:1px solid;
border-bottom:1px solid;
border-color:#e1e1e1;
border-left:none;
border-right:none;
color:#777;
font-size: 12px;
line-height: 1.5em;
text-align: center;
margin:5px 0;
box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
}

.avia-box.large{
padding:22px;
font-size: 13px;
}

.avia-box.full{
border-left:1px solid;
border-right:1px solid;
border-color:#e1e1e1;
}

.avia-box.rounded{
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.avia-innerbox {display:inline-block;}
.avia-box.custom_icon .avia-innerbox{padding:2px 0 2px 22px; }
.avia-box.info .avia-innerbox{ 	background: transparent url("../images/icons/info.png") no-repeat center left; 	padding:2px 0 2px 22px;	}
.avia-box.alert .avia-innerbox{	background: transparent url("../images/icons/alert.png") no-repeat center left; padding:2px 0 2px 22px;	}
.avia-box.tick .avia-innerbox{	background: transparent url("../images/icons/tick.png") no-repeat center left; 	padding:2px 0 2px 22px; }
.avia-box.note .avia-innerbox{	background: transparent url("../images/icons/note.png") no-repeat center left; 	padding:2px 0 2px 22px; }
.avia-box.error .avia-innerbox{	background: transparent url("../images/icons/error.png") no-repeat center left; padding:2px 0 2px 22px;	}
.avia-box.help .avia-innerbox{	background: transparent url("../images/icons/help.png") no-repeat center left; 	padding:2px 0 2px 22px; }
.avia-box.download .avia-innerbox{	background: transparent url("../images/icons/download.png") no-repeat center left; padding:2px 0 2px 22px;	}
.avia-box.custom_icon_none .avia-innerbox{padding:2px;}


.avia-box.info 	{border-color:#4b87d0; background: #a6bfde; color:#fff;}
.avia-box.alert {border-color:#E6DB55; background: #FFFFE0; color:#9d5501;}
.avia-box.tick 	{border-color:#8BAF5B; background: #E0F1B5; color:#4F5F39;}
.avia-box.note 	{border-color:#4b87d0; background: #a6bfde; color:#fff;}
.avia-box.error {border-color:#941210; background: #f0dcdb; color:#941210;}
.avia-box.help 	{border-color:#4b87d0; background: #a6bfde; color:#fff;}
.avia-box.download {border-color:#4b87d0; background: #a6bfde; color:#fff;}


/*iconbox*/
.iconbox{
overflow: hidden;
padding-bottom:10px;
}

.iconbox_icon{
float:left;
padding: 14px 8px 0 0;
}

.iconbox_content{
overflow: hidden;
font-size: 11px;
line-height: 17px;
}

.iconbox .iconbox_content .iconbox_content_title {
border: medium none;
padding: 8px 0 7px;
position: relative;
top: 8px;
margin:0 0 0.5em 0;
font-size: 11px;
}

.shortcode_prev .iconbox_content{
color:#777;
}

.shortcode_prev .iconbox_content_title{
color:#000;
}


/*horizontal rulers*/

.hr{
clear: both;
display:block;
overflow: hidden;
width:100%;
height:25px;
line-height:25px;
position: relative;
margin:0;
padding:30px 0;
}

.hr_small{
padding:17px 0;
}

.hr a{
font-size: 10px;
padding: 0 4px 0 0;
color:#aaa;
background: #fff;
}

.hr_invisible{
clear: both;
display:block;
width:100%;
border:none;
background: none;
padding:15px 0;
}

.hr_text{

}

.custom_hr_text{
background: #fff;
color:#aaa;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
display:inline-block;
font-size: 10px;
padding:0px 8px 0 0;
margin: 0 auto;
float:left;
}

.custom_hr_text a{
color:#fff;
background: transparent;
}

.custom_hr_text a:hover{
color:#aaa;
text-decoration: underline;
}


/*content slider, tabs, toggles*/
.arrow_container{

}

.content_slider{
position: relative;
overflow: hidden;
}

.inner_slide_container{
position: absolute;
float: left;
}

.contentSlideControlls{
position: relative;
padding-top:12px;
}

.contentSlideControlls a {
float: left;
height: 24px;
width: 24px;
display: block;
outline: none;
line-height: 24px;
text-align: center;
font-size: 10px;
margin-right: 1px;
text-decoration: none;
}

/*slidecontrolls positioning depending on first element*/

#top .pos_h1{ position: absolute; right:0; top:0; }
#top .pos_h2{ position: absolute; right:0; top:71px; }
#top .pos_h3{ position: absolute; right:0; top:24px; }
#top .pos_h4{ position: absolute; right:0; top:51px; }
#top .pos_h5{ position: absolute; right:0; top:50px; }
#top .pos_h6{ position: absolute; right:0; top:49px; }


.fullwidth_no_image{
height:2px;
width:100%;
}

.fallback_div{
width:100%;
height:100px;
}

.single_slide{
overflow: hidden;
}

/*toggle*/
.js_active .toggle_wrap{
display:none;
}

#top .active_toggle_wrap{
display:block;
}

.js_active .toggler {
cursor: pointer;
display: block;
margin: -1px 0;
padding: 3px 3px 5px 30px;
position: relative;
top: 1px;
border:1px solid;
}

.togglecontainer{
padding:10px 0;
}

.toggle_content{
padding:10px 10px 0 30px;
margin:0 0 5px 0;
}

.toggle_icon{
position: absolute;
width:15px;
height:15px;
border:1px solid;
top:6px;
left:6px;
}

.toggle_icon .vert_icon{
border-left:1px solid;
position: absolute;
left:7px;
top:2px;
height:11px;
}

.toggle_icon .hor_icon{
border-top:1px solid;
position: absolute;
top:7px;
left:2px;
width:11px;
}

.activeTitle .toggle_icon .vert_icon{
border:none;
}


/*tabs*/

.tabcontainer{
padding: 10px 0;
position: relative;
width:100%;
}

.widget .tabcontainer{
padding-top:0px;
}


.js_active .tab_content{
display: none;
clear: both;
padding: 15px;
overflow:auto;
position: relative;
}

.js_active .tab{
cursor:pointer;
margin:0 2px 0 0;
padding:5px 10px 5px;
display: block;
float: left;
border-bottom: none;
z-index: 2;
position: relative;
top:1px;
font-size: 11px;
}

.js_active #top .active_tab{
z-index: 4;
position: relative;
border-bottom: none;
}

.js_active #top .active_tab_content{
display: block;
z-index: 3;
position: relative;
overflow:auto;
}

/*dropcaps*/

.dropcap1 {
display: block;
float: left;
font-size: 38px;
line-height: 32px;
margin: 4px 8px 0 0;
}

.dropcap2, .dropcap3{
display:block;
float:left;
font-size:18px;
line-height:35px;
width:35px;
text-align: center;
margin:4px 8px 0 0;
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;
}

.dropcap3{
background-color: #000;
color:#fff;	
}
