/*  Blog Specific CSS (Gadget Lab)  */
#entrySections a { background-color: #E48331; } 
#entrySections a:hover { color: #E48331; } 
#entrySections li.button a { background-color: #E48331; } 
body.archive #entrySections li:nth-child(2) a:hover { background-color: #E48331; } 
#masthead #masthead-title { color: #E48331; } 
body .community p { color: #E48331;} 
#glider .slide-content .sections a { color:#E48331; } 
#glider .slide-content h2 a:hover { color:#E48331; } 
#glider .slide-content h3 a { color:#E48331; } 
#glider .slide-content h3 a:hover { color:#E48331; } 
#glider .slide-content h4 a { color:#E48331; } 
#glider .slide-content h4 a:hover { color:#E48331; } 
#wrapper-2 #column-2 .elsewhere-tag { color:#E48331; } 
.module-hotwired .join-email { color:#E48331; } 
.module-hotwired h3.hotwired-subhead { color:#E48331;} 
body .post li.sections a { background-color:#E48331; } 
body .post li.sections a:hover { color:#E48331; } 
body .post li.sections:after { background-color: #E48331; } 
