body {
	background:url(../images/blue/bk_body.jpg);
}

a {
	color:#1FA2E1;
}

#topMenu ul li a {
	background:url(../images/blue/bullet_list.png) 0 2px no-repeat;
}

#topMenu ul li a:hover{
	color:#00A5FF;
}

.postItem h1 a:hover{
	color:#1FA2E1;
}

.postItem .categs a {
	background:#1FA2E1;
}

.icoAuthor {
	background:url(../images/blue/ico_author.png) 0 2px no-repeat;
}

.icoComments {
	background:url(../images/blue/ico_comments.png) 0 2px no-repeat;
}